<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 300px;
            }
            li {
                clear: both;
            }
            li button {
                float: right;
                cursor: pointer;
                color: red;
                font-size: 15px;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <a href="/lists/{{list.id}}">{{ list.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="todos-wrapper">
            <h3>{{ active_list.name }}</h3>
            <form id="form">
                <label>Create To-Do</label><br>
                <input type="text" id="description" name="description" />
                <input type="submit" value="Create" />
            </form>
            <div id="error" class="hidden">
                Something went wrong!
            </div>
            <ul id="todos">
                <!-- jinja template -->
                {% for todo in todos %}
                <li>
                    <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}/> 
                    {{ todo.description }}
                    <button class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            const deletedTodos = document.querySelectorAll('.delete-todo');
            for (let i = 0; i < deletedTodos.length; i++) {
                const deletedTodo = deletedTodos[i];
                deletedTodo.onclick = function(e) {
                    console.log('delete event', e);
                    const todoId = e.target.dataset['id'];
                    fetch(
                        '/todos/' + todoId + '/delete',
                        {
                            method: 'delete'
                        }
                    )
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function(e) {
                    console.log('check event', e);
                    const status = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch(
                        '/todos/' + todoId +'/set-completed',
                        {
                            method: 'post',
                            body: JSON.stringify({'completed': status}),
                            headers: {'Content-Type': 'application/json'}
                        }
                    )
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                fetch(
                    '/todos/create',
                    {
                        method: 'post',
                        body: JSON.stringify({'description': document.getElementById('description').value}),
                        headers: {'Content-Type': 'application/json'}
                    }
                )
                .then(function(response) 
                {
                    return response.json();
                })
                .then(function(jsonResponse) 
                {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>